<ion-content >
  <ion-grid>
    <ion-row >
      <ion-col>
        <ion-title size="large">
          <h1>Club Demócrata</h1>
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-title size="large">
          <h2>Registro</h2>
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center inputRow">
      <form [formGroup]="newUserForm">
        <ion-item>
          <ion-label>Nombre</ion-label>
          <ion-input 
            id="name"
            formControlName="name"
            minlength="4"
            maxlength="20" 
            placeholder="Ingrese su nombre">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Correo electrónico</ion-label>
          <ion-input 
            id="email"
            formControlName="email"
            minlength="4"
            maxlength="40"
            placeholder="Ingrese su correo">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Telefono</ion-label>
          <ion-input
            id="phone"
            formControlName="phone" 
            placeholder="Ingrese su telefono">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Contraseña</ion-label>
          <ion-input 
            type="password" 
            id="password"
            formControlName="password"
            minlength="4"
            maxlength="20"
            placeholder="Ingrese su contraseña">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Confirmar contraseña</ion-label>
          <ion-input 
            type="password" 
            id="confirmPassword"
            minlength="4"
            maxlength="20"
            formControlName="confirmPassword"
            placeholder="Confirma la contraseña">
          </ion-input>
        </ion-item>
        <ion-col class="buttonLogin">
          <ion-button  type="submit" size="small" [disabled]="!confirmPasswordValue || newUserForm.invalid" (click)="registerNewUser()">Registrar</ion-button>
        </ion-col>
        <ion-chip *ngIf="errorMessage.length > 0">
          <ion-label>{{ errorMessage }}</ion-label>
        </ion-chip>
        <ion-chip *ngIf="name.invalid && name.touched">
          <ion-label>Debes agregar un nombre válido: entre 4 y 20 carácteres.</ion-label>
        </ion-chip>
        <ion-chip *ngIf="phone.invalid && phone.touched">
          <ion-label>Debes agregar un teléfono nacional válido.</ion-label>
        </ion-chip>
        <ion-chip *ngIf="email.invalid && email.touched">
          <ion-label>Debes agregar un correo electrónico válido: entre 4 y 40 carácteres.</ion-label>
        </ion-chip>
        <ion-chip *ngIf="password.invalid && password.touched">
          <ion-label>Debes agregar una contraseña correcta válida: entre 8 y 20
            carácteres, con una minúscula, una mayúcusla y un carácter especial.</ion-label>
        </ion-chip>
        <ion-chip *ngIf="!confirmPasswordValue && confirmPassword.touched">
          <ion-label>Las contraseñas deben coincidir.</ion-label>
        </ion-chip>  
        
      </form>
    </ion-row>
    
    <ion-row class="ion-align-items-center ion-margin-top" >
      <ion-col size="8">
        <ion-text >¿Ya tienes una cuenta?</ion-text>
      </ion-col>
      <ion-col size="4">
        <ion-button size="small" routerLink="/">Inicie sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
