<ion-content >
  <ion-grid>
    <ion-row >
      <ion-col>
        <ion-title size="large">
          <h1>Club Demócrata</h1>
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-title size="large">
          <h2>Registro</h2>
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <form [formGroup]="newUserForm">
        <ion-item>
          <ion-label>Nombre</ion-label>
          <ion-input 
            id="name"
            formControlName="name"
            minlength="4"
            maxlength="20" 
            placeholder="Ingrese su nombre">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Correo electrónico</ion-label>
          <ion-input 
            id="email"
            formControlName="email"
            minlength="4"
            maxlength="40"
            placeholder="Ingrese su correo">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Telefono</ion-label>
          <ion-input
            id="phone"
            formControlName="phone" 
            placeholder="Ingrese su telefono">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Contraseña</ion-label>
          <ion-input 
            type="password" 
            id="password"
            formControlName="password"
            minlength="4"
            maxlength="20"
            placeholder="Ingrese su contraseña">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Confirmar contraseña</ion-label>
          <ion-input 
            type="password" 
            id="confirmPassword"
            minlength="4"
            maxlength="20"
            formControlName="confirmPassword"
            placeholder="Confirma la contraseña">
          </ion-input>
        </ion-item>
        <ion-col class="buttonLogin">
          <ion-button  type="submit" size="small" [disabled]="newUserForm.invalid" (click)="registerNewUser()">Registrar</ion-button>
        </ion-col>
      </form>
    </ion-row>
    
    <ion-row class="ion-align-items-center" >
      <ion-col size="8">
        <ion-text >¿Ya tienes una cuenta?</ion-text>
      </ion-col>
      <ion-col size="4">
        <ion-button size="small" routerLink="/">Inicie sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>