<ion-content >
  <ion-grid>
    <ion-row >
      <ion-col>
        <ion-title size="large">
          <h1>Club Demócrata</h1>
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-title size="large">
          <h2>Login</h2>
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center inputRow">
      <form [formGroup]="userForm">
        <ion-col>
          <ion-item>
            <ion-label>Correo electrónico</ion-label>
            <ion-input  
            id="email"
            formControlName="email"
            minlength="4"
            maxlength="40"  
            placeholder="Ingrese su correo electrónico">
          </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Contraseña</ion-label>
            <ion-input type="password" 
            id="password"
            formControlName="password"
            minlength="4"
            maxlength="40" placeholder="Ingrese su contraseña">
          </ion-input>
          </ion-item>
        </ion-col>
        <ion-col class="buttonLogin">
          <ion-button type="submit" size="small" [disabled]="userForm.invalid" (click)="loginUser()">Ingresar</ion-button>
        </ion-col>
        <ion-chip *ngIf="errorMessage.length > 0">
          <ion-label>{{ errorMessage }}</ion-label>
        </ion-chip>
        <ion-chip *ngIf="email.invalid && email.touched">
          <ion-label> Debes agregar un correo electrónico válido: entre 4 y 20 carácteres.</ion-label>
        </ion-chip>
        <ion-chip *ngIf="password.invalid && password.touched">
          <ion-label>Debes agregar una contraseña correcta válida: entre 4 y 20
            carácteres, con una minúscula, una mayúcusla y un carácter especial.</ion-label>
        </ion-chip>
      </form>
    </ion-row>
    
    <ion-row class="ion-align-items-center" style="margin-top: 2%;">
      <ion-col size="8">
        <ion-text >¿No tienes una cuenta?</ion-text>
      </ion-col>
      <ion-col size="4">
        <ion-button size="small" routerLink="/register">Registrate</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
