<ion-header>
  <ion-toolbar class="menuTitle">
    <ion-buttons slot="start">
      <ion-menu-button autohide="true" color="medium"></ion-menu-button>
    </ion-buttons>
    <ion-title>Beneficios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Piscinas de primer nivel</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img src="../../../../../assets/images/piscinas.jpg" alt="">
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Instalaciones deportivas listas para cualquier evento</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img src="../../../../../assets/images/cancha.jpg" alt="">
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Escuela de Tenis para todas las edades</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img src="../../../../../assets/images/tenis.jpg" alt="">
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Sala de eventos preparada para cualquier celebración</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img src="../../../../../assets/images/sala_eventos.jpg" alt="">
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Sala de conferencias para tus reuniones de negocios</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img src="../../../../../assets/images/sala_conferencias.jpg" alt="">
        </ion-card-content>
      </ion-card>

</ion-content>
