<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-button menu="first" autohide="false" color="medium"></ion-menu-button> -->
      <ion-menu-button autohide="true" color="medium"></ion-menu-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-title class="news_notice" >Ultimas noticias</ion-title>

  <ion-card class="news">
  <img src="../../../../../assets/images/conferencias.jpeg" />
  <ion-card-header>
   
    <ion-card-title class="newsTitle">Conferencia sobre geopolitica</ion-card-title>
  </ion-card-header>
  <ion-card-content class="newsInfo">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, perferendis accusantium. Et non est mollitia enim cumque, ducimus aut laborum, recusandae vel, dolor hic voluptatibus nulla optio culpa quasi repellendus!
  </ion-card-content>
  
  <ion-button class="newsButton" routerLink="/partner/news/1" size="small">leer mas</ion-button>
</ion-card>

<ion-card class="news">
  <img src="../../../../../assets/images/eleccion.jpg" />
  <ion-card-header>
   
    <ion-card-title class="newsTitle">Nueva junta directiva</ion-card-title>
  </ion-card-header>
  <ion-card-content class="newsInfo">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, perferendis accusantium. Et non est mollitia enim cumque, ducimus aut laborum, recusandae vel, dolor hic voluptatibus nulla optio culpa quasi repellendus!
  </ion-card-content>
  
  <ion-button class="newsButton" routerLink="/partner/news/1" size="small">leer mas</ion-button>
</ion-card>
</ion-content>
