.news{ 
    --ion-background-color: rgba(0,0,0,0.5) !important;
    color: white !important;
     margin-top: 5%;
 
}
.news_notice{ 
   font-size: 30px;
   margin: 5% 2%;
   display: flex;
   color: white;
   background-color: rgba(0,0,0,0.5) !important;
   padding: 3%;
}
.newsTitle{ 
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
}

.newsInfo{ 
    font-size: 18px;
    text-align: justify;
}

.newsButton{ 
     margin: 2%;
  
}


.menuTitle{
  --ion-background-color: rgba(0,0,0,0.5) !important;
  color: white !important;
}
