<ion-header>
  <ion-toolbar class="menuTitle">
    <ion-buttons slot="start">
      <!-- <ion-menu-button menu="first" autohide="false" color="medium"></ion-menu-button> -->
      <ion-menu-button autohide="true" color="medium"></ion-menu-button>
    </ion-buttons>
    <ion-title  >Hazte Socio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="grid">
    <ion-row class="upgrade">
      <ion-col>
        <h2>Tipo de membresia</h2>
      </ion-col>
      <ion-col class="membresia">
        <select>
      <option value="1">Bronce</option>
      <option value="2">Plata</option>
      <option value="3">Oro</option>
    </select>
      </ion-col>
      <ion-col>
        <ion-button>¡Ser socio ahora!</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>