.grid{

  height: 100%;
}

.upgrade{

  display: flex;
  flex-direction: column;  
  justify-content: space-around;
  align-items: center;

  .membresia{
    padding-top: 6%;
  }

  ion-radio-group {
    width: 100%;
    margin-top: 2%;
  }
 
  h2{

    font-size: 30px;
  }

}