<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autohide="true" color="medium"></ion-menu-button>
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-slides pager="true" [options]="{autoplay: true}">

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Mataron a Carlos</ion-card-subtitle>
            <ion-card-title>Concierto de Canserbero</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <img src="../../../../../assets/images/conciertos.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem earum, rem sapiente velit vero? Consectetur, facilis placeat! Aperiam asperiores aspernatur dicta ex laborum minus, nostrum quam quia rerum veritatis.</p>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
       <ion-card>
         <ion-card-header>
           <ion-card-subtitle>El torneo aniversario del club se reaizará este fin de semana</ion-card-subtitle>
           <ion-card-title>Torneo de Baloncesto</ion-card-title>
         </ion-card-header>

         <ion-card-content>
           <img src="../../../../../assets/images/cancha.jpg" alt="">
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem earum, rem sapiente velit vero? Consectetur, facilis placeat! Aperiam asperiores aspernatur dicta ex laborum minus, nostrum quam quia rerum veritatis.</p>
         </ion-card-content>
       </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>5to Torneo de sóftbol Municipio San Cristóbal</ion-card-subtitle>
            <ion-card-title>Torneo de Sóftbol</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <img src="../../../../../assets/images/softbol.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem earum, rem sapiente velit vero? Consectetur, facilis placeat! Aperiam asperiores aspernatur dicta ex laborum minus, nostrum quam quia rerum veritatis.</p>
          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </ion-content>

</ion-content>
