.PartnerInfo{
    display: flex;
    flex-direction: column;
    justify-content: start;
}


.PartnerWelcome{
    height: 8%;
    width: 100%;
    background-color: rgba(0,0,0,0.5) !important;
    color: white !important;
    padding: 21px;
    justify-content: center;

}
.newsButton{ 
    margin: 2%;
    display: flex;
    align-self: flex-start;
}


.PartnerEvents{
    padding: 20px;
    width: 100%;
    height: 42%;
}
.PartnerTitleNotices{
    height: 15%;
    width: 100%;
    margin-top: 15px;
    justify-content: center;   
    background-color: rgba(0,0,0,0.5) !important;
}
.PartnerNotices{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 5%;
    color: white;

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p{
            font-size: 18px;
        }
    }

}   

.PartnerNotices img{
    width: 90%;
    height: 60%;
}

.seccion{
    display: flex;
    flex-direction: column;

    p{
        font-size: 18px;
        margin-bottom: 30px;
    }
}

.upgradeProfile {  
   
    display: flex;
    padding-top: 2%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.upgradePartner{

    margin-left: 3%;
    font-size: 10px;

}

img{
    height: 100%;
    width: 100%;
}




h2{
    width: 100%;
    display: flex;
    margin: 20px auto;
    justify-content: center;
    color: white;
}