<ion-header>
  <ion-toolbar class="menuTitle">
    <ion-buttons slot="start">
      <ion-menu-button autohide="true" color="medium"></ion-menu-button>
    </ion-buttons>
    <ion-title>Club Demócrata</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid class="PartnerInfo">
  <ion-row class="PartnerWelcome">
    <ion-text>
      ¡Bienvenido de vuelta, {{user?.name}}!
    </ion-text>
    <div class="upgradeProfile" *ngIf="!user?.partner">
      <span>¿Deseas gozar de más beneficios exclusivos?</span>
        <ion-button class="upgradePartner" routerLink="/partner/upgrade" size="small">¡Hazte Socio!</ion-button>
    </div>
    <div *ngIf="user?.partner?.qualification !== 0">
      <ion-badge
                 *ngIf="user?.partner?.qualification == 1"
                 color="danger" slot="end"
                 >Socio: Bronce
      </ion-badge>
      <ion-badge
              *ngIf="user?.partner?.qualification == 2"
              color="medium"
      >Socio: Plata</ion-badge
      >
      <ion-badge
              *ngIf="user?.partner?.qualification == 3"
              color="warning"
      >Socio: Oro</ion-badge
      >
    </div>
  </ion-row>

  <ion-row class="PartnerEvents">
    <ion-slides pager="true">
      <ion-slide class="seccion">
        <img src="../../../../../assets/images/tenis.jpg">
        <p>Nuevas canchas de tenis</p>
      </ion-slide>
      <ion-slide class="seccion">
        <img src="../../../../../assets/images/piscinas.jpg">
        <p>Áreas de piscinas remodeladas</p>
      </ion-slide>
      <ion-slide class="seccion">
        <img src="../../../../../assets/images/conciertos.jpg">
        <p>Concierto en Agosto</p>
      </ion-slide>
    </ion-slides>
  </ion-row>

  <ion-row class="PartnerTitleNotices">
    <h2>Noticias mas recientes</h2>    
  </ion-row>

  <ion-row class="PartnerNotices ion-margin-bottom">
    <img src="../../../../../assets/images/conferencias.jpeg" >
    <div class="info">
      <h3>Conferencias sobre geopolitica</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur </p>  
      <ion-button class="newsButton" routerLink="/partner/news/1" size="small">leer mas</ion-button>
    </div>
  </ion-row>
</ion-grid> 
</ion-content>
