<ion-split-pane contentId="content1" [disabled]="!paneEnabled">
  <ion-menu contentId="content1" menuId="first">

    <ion-header>
      <ion-toolbar class="menuTitle">
        <ion-title>Socio</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" menu="first">

        <ion-item routerLink="/partner/" routerDirection="root" routerLinkActive="active-item">
          <ion-label>Inicio</ion-label> 
        </ion-item>
        <ion-item routerLink="/partner/profile" routerDirection="root" routerLinkActive="active-item">
          <ion-label>Perfil</ion-label> 
        </ion-item>
        <ion-item routerLink="/partner/news" routerDirection="root" routerLinkActive="active-item">
          <ion-label>Noticias</ion-label> 
        </ion-item>
        <ion-item routerLink="/partner/events" routerDirection="root" routerLinkActive="active-item">
          <ion-label>Eventos</ion-label>
        </ion-item>

        <ion-item (click)="logout()" class="logout" routerLinkActive="active-item">
          <ion-label>Salir</ion-label> 
        </ion-item>

        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-split-pane>
